<div>
    <form action="/users/login" method="post">
        <label for="user_name_or_email">User or e-mail</label><br>
        <input type="text" id="user_name_or_email" name="user_name_or_email" required><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">Login</button>
    </form>
</div>