<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prática Handlebars</title>
</head>
<body>
    <header>
        <h1>Filmes e muito mais!</h1>
        {{> menu }}
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        <p>&copy; Rosinei Figueiredo 2025.</p>
    </footer>
</body>
</html>
