/* components/list.module.css */

.ul {
    list-style-type: none;
    border: 0.2px solid #ccc;
    padding: 0;
}

.li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    color: #a71515;
    font-size: 19px;
}

.li:last-child {
    border-bottom: none;
}