.select-multiple {
  position: relative;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 16px;
  overflow: hidden;
}

.select-multiple select {
  width: 100%;
  padding: 8px;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  cursor: pointer;
  padding-left: 25px;
}

.select-multiple select:focus {
  outline: none;
  border-color: #4caf50;
}

.select-multiple option {
  padding: 8px;
  position: relative;
  padding-left: 25px;
}

.select-multiple option::before {
  content: " ";
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1em;
  color: green;
  visibility: hidden;
}

.select-multiple option.selected-icon::before {
  content: "✓";
  visibility: visible;
}

.select-multiple select option:checked {
  background-color: transparent;
  color: inherit;
}
